* {
  font-family: 'Noto Sans TC', 'Archivo Black', sans-serif;
}

.font-audi {
  font-family: 'Audiowide', cursive, sans-serif;
}

.font-arch {
  font-family: 'Archivo Black', sans-serif;
}

@mixin font-hollow-effect {
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 10px;
    background-color: $info;
    bottom: 0;
    z-index: -1;
  }
}
