.competition {
  max-width: 100%;
  z-index: 1;
  .loop {
    top: 160px;
    z-index: -1;
    font-size: 32px;
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
    @include pad {
      top: 190px;
    }
    @include pc-screen {
      top: 240px;
      font-size: 80px;
    }
    li:first-child {
      margin-bottom: 250px;
    }
    img {
      width: 20px;
      @include pc-screen {
        width: 50px;
      }
    }
  }

  h4 {
    font-size: 12px;
    @include pad {
      font-size: 24px;
    }
  }
  h3 {
    font-size: 24px;
    @include pad {
      font-size: 36px;
    }
    @include pc-screen {
      font-size: 48px;
    }
  }

  .judge-award {
    h4 {
      font-size: 20px;
      @include pc-screen {
        font-size: 36px;
      }
    }
    img {
      width: 55px;
      @include pc-screen {
        width: 90px;
      }
    }
  }

  .text {
    @include pc-screen {
      height: 85px;
    }
  }

  .award {
    height: 258px;
    border-radius: 50% 50% 0 0;
    @include pc-screen {
      height: 360px;
    }
    h5 {
      font-size: 20px;
      @include mobile-lg {
        font-size: 28px;
      }
      @include pc-screen {
        font-size: 47px;
      }
    }
    h6 {
      font-size: 20px;
      @include mobile-lg {
        font-size: 28px;
      }
      @include pc-screen {
        font-size: 47px;
      }
      span {
        font-size: 16px;
        @include pc-screen {
          font-size: 27px;
        }
      }
    }
  }

  .total {
    font-size: 20px;
    @include pc-screen {
      font-size: 32px;
    }
  }
}
