.cooperation {
  h3 {
    font-size: 48px;
    line-height: 100%;
    @include pad {
      font-size: 72px;
    }
    @include pc-screen {
      font-size: 128px;
    }
  }
  .title {
    font-size: 24px;
    @include pad {
      font-size: 28px;
    }
    @include pc-screen {
      font-size: 48px;
    }
    span {
      -webkit-text-stroke: 1px $dark;
      -webkit-text-fill-color: transparent;
    }
  }
  .co-inside {
    position: absolute;
    width: 154px;
    left: 33%;
    bottom: 0;
    @include pad {
      width: 306px;
    }
    @include pc-screen {
      width: 536px;
      left: 29%;
    }
  }
}
