.master-sharing {
  h3 {
    font-size: 24px;
    @include font-hollow-effect;
    @include pad {
      font-size: 48px;
    }
  }
  .speech-info {
    @include pc-screen {
      border-radius: 0 100px 0 0;
    }
    p {
      font-size: 12px;
      @include pc-screen {
        font-size: 16px;
      }
    }
    h4 {
      font-size: 20px;
      @include pc-screen {
        font-size: 32px;
      }
    }
    h5 {
      font-size: 14px;
      @include pc-screen {
        font-size: 18px;
      }
    }
  }

  .orator {
    img {
      width: 24px;
      @include pc-screen {
        width: 40px;
      }
    }
    li:first-child {
      font-size: 14px;
      @include pc-screen {
        font-size: 20px;
      }
    }
    li:last-child {
      font-size: 12px;
      @include pc-screen {
        font-size: 14px;
      }
    }
  }
}
