nav ul {
  .btn.nav-btn {
    &:hover {
      background-color: $secondary;
    }
    &:active {
      background-color:  $secondary;
    }
  }
  .btn.register-btn {
    background-color: $primary;
    &:active {
      background-color: $secondary;
    }
  }
  @include pc-screen {
    .deco-underline {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        left: 0;
        width: 0%;
        height: 4px;
        background-color: $secondary;
        transition: width 0.2s 0.2s;
      }
    }

    a:hover {
      &.deco-underline {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

// 漢堡選單按鈕
.navbar-toggler {
  width: 40px;
  height: 40px;
  position: relative;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.hamburger-line {
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transition: transform 0.5s ease;
}

.hamburger-line:nth-child(1) {
  transform-origin: 50% 50%;
  transform: translate(-50%, -8px);
}
.hamburger-line:nth-child(2) {
  transform: translateX(-50%);
}
.hamburger-line:nth-child(3) {
  transform-origin: 50% 50%;
  transform: translate(-50%, 8px);
}

.hamburger-line:nth-child(1).active {
  transform: translate(-50%, 0px) rotate(45deg);
}
.hamburger-line:nth-child(2).active {
  opacity: 0;
}
.hamburger-line:nth-child(3).active {
  transform: translate(-50%, 0px) rotate(-45deg);
}