.sponsor-firm {
  h3 {
    font-size: 24px;

    @include pad {
      font-size: 48px;
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 10px;
      background-color: $primary;
      bottom: 0;
      z-index: -1;
    }
  }
  .sponsor-star {
    img {
      width: 32px;
      height: 32px;
      @include pad {
        width: 64px;
        height: 64px;
      }
    }
  }

  .sponsor-logo {
    img {
      max-width: 180px;
      @include pad {
        max-width: 250px;
      }
    }
  }
}
