.three-topics {
  h3 {
    font-size: 24px;
    @include font-hollow-effect;
    @include pad {
      font-size: 48px;
    }
  }

  .firm-design {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
    @include pad {
      font-size: 24px;
    }
  }

  .main-card-content {
    .card {
      aspect-ratio: 0.53;
      @include pc-screen {
        aspect-ratio: 0.69;
      }
    }
  }

  .card {
    max-width: 228px;
    @include pad {
      max-width: 285px;
    }
    @include pc-screen {
      max-width: 400px;
    }
  }

  .upper-right {
    border-top-right-radius: 5px;
  }

  .header {
    font-size: 15px;
    @include pad {
      font-size: 20px;
    }
    @include pc-screen {
      font-size: 28px;
    }
    span {
      -webkit-text-stroke: 1px $dark;
      -webkit-text-fill-color: transparent;
      font-size: 10px;
      @include pad {
        font-size: 13px;
      }
      @include pc-screen {
        font-size: 18px;
      }
    }
  }

  h4.card-title {
    font-size: 23px;
    @include pad {
      font-size: 29px;
    }
    @include pc-screen {
      font-size: 41px;
    }
  }

  button {
    &:hover {
      color: $dark;
    }
  }

  .week-before {
    position: absolute;
    right: -20%;
    opacity: 1;
  }

  .week-after {
    position: absolute;
    right: -20%;
    opacity: 0;
  }

  .card {
    transform: translateY(0px);
    transition: all 0.5s;

    @include pc-screen {
      &:hover {
        transform: translateY(-20px);
        .week-before {
          opacity: 0;
        }
        .week-after {
          animation: pop-up-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          opacity: 1;
        }
        .level-detail {
          img {
            width: 75px;
          }
        }
      }
    }
  }

  @keyframes pop-up-top {
    0% {
      transform: translateY(0);
      transform-origin: 50% 50%;
    }
    100% {
      transform: translateY(-15px);
      transform-origin: 50% 50%;
    }
  }

  .sponsor {
    img {
      width: 28px;
      height: 28px;
      @include pad {
        width: 36px;
        height: 36px;
      }
      @include pc-screen {
        width: 51px;
        height: 51px;
      }
    }
    p {
      font-size: 9px;
      @include pad {
        font-size: 11px;
      }
      @include pc-screen {
        font-size: 16px;
      }
    }
    p {
      span {
        font-size: 8px;
        @include pad {
          font-size: 10px;
        }
        @include pc-screen {
          font-size: 14px;
        }
      }
    }
  }

  .level-detail {
    img {
      display: inline-block;
      width: 27px;
      transition: width 0.5s;
      @include pad {
        width: 34px;
      }
      @include pc-screen {
        width: 48px;
      }
    }
  }

  .deco-line {
    z-index: 1;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      right: 0;
      bottom: 0;
      background-color: $white;
      z-index: -1;
    }
  }
}
